<div class="comment-container animated fadeInLeft"
	<ul class="comments">
	    <%comments.forEach(function(comment) {%>
	    <li>
	        <p class="comment"><%=comment.content%><br />
	        <em>User: <%=comment.user_name%></em> | posted on: <em><%=comment.date_created%></em></p>
	    </li>
	    <% }) %>
	</ul>

	
	<input type="submit" value="new comment" class="button-primary" id="new-comment">
	<input type="submit" value="hide comments" id="hide-comments">
</div>