body a {
	color: black;
}

nav {
	margin: 0 auto;
	padding: 0;
	top: 0;
	height: 41px;
	width: 100%;
	position: fixed;
	background-color: #ccccd0;
	z-index: 20;
}

.nav-item {
	list-style: none;
	float: left;
}

.nav-search {
	list-style: none;
	float: right;
}

.id-list {
	width: 100%;
	padding: 0;
	display: none;
}

.nav-item:hover > .id-list {
	display: block;
} 

.id-item {
	list-style: none;
	background-color: rgba(255, 250, 223, .75);
}

.nav-item a {
	display: block;
	text-decoration: none;
	padding: 3px 20px;
}

.nav-item a:hover {
	background-color: #BBAA55;
	color: #FFFADF;
}

.menu-search {
	border-radius: 4px;
	margin-bottom: 0px;
}

.menu-spacer {
	margin-bottom: 60px;
}

.exists-modal {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	/*display: table;*/
	background-color: rgba(255,255,255,.8);
	z-index: 35;
}

.exists-modal-body {
	width: 800px;
	max-width: 60%;
	margin: auto;
	background-color: rgba(255,255,255,1);
	/*display: table-cell;*/
	/*text-align: center;*/
	border: 1px solid red;
	padding: 10px;
	z-index: 40;
}

#user-name {
	margin: 0 auto;
}

.comment-modal-ptext {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 2em;
	padding-left: 5px;
	padding-top: 5px;
	box-shadow: 2px 2px 5px black; 
}

.hidden {
	display: none;
}

@media screen and (max-width: 850px) {
	.nav-search {
		display: none;
	}
/*	nav {
		height: 82px;
	}
	.menu-spacer {
		margin-bottom: 90px;
	}*/
}

@media screen and (max-width: 450px) {
	.nav-search {
		display: none;
	}
	nav {
		height: 82px;
	}
	.menu-spacer {
		margin-bottom: 90px;
	}
	.nav-item {
		margin-bottom: 0px;
	}
}